<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Oma LEMP-sivu</title>
    <style>
        body { font-family: sans-serif; background-color: #6e6e6eff; color: rgba(219, 21, 97, 1); text-align:center; padding-top:50px; }
        .time { font-size: 2em; }
    </style>
</head>
<body>
    <h1>Tervetuloa sivulleni!</h1>
    <p>On tämä saatana työmaa</p>
    <img src="https://images.cdn.yle.fi/image/upload/w_1024,dpr_1.0,fl_lossy,f_auto,q_auto,d_yle-elava-arkisto.jpg/v1599560995/13-26-108691.jpg" 
     alt="Tonnin seteli" 
     style="max-width:80%; height:auto; margin-top:20px; border:2px solid #fff; border-radius:8px;">
    <h2>SQL UTC-aika:</h2>
    <div class="time" id="utc-time">{{ utc_time }}</div>

    <!-- JavaScript liikkuvalle UTC-kellolle -->
    <script>
        async function updateTime() {
            try {
                const response = await fetch('/api/utc-time');
                const data = await response.json();
                document.getElementById('utc-time').textContent = data.utc_time;
            } catch (err) {
                console.error("Virhe päivitettäessä aikaa:", err);
            }
        }

        // Päivitä aika joka sekunti
        setInterval(updateTime, 1000);
    </script>
</body>
</html>
